/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(268, 58%, 48%);
  --first-color-alt: hsl(268, 28%, 38%);
  --second-color: hsl(335, 88%, 56%);
  --second-color-alt: hsl(328, 78%, 38%);
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(252, 100%, 87%);
  --body-color: hsl(268, 58%, 22%);
  --border-color: rgb(22 21 55);
  --button-back-color: rgb(254 196 71);
  --button-background: linear-gradient(
    to right,
    #dd5140,
    #db2f55,
    #cf006e,
    #b7008a,
    #8d16a4
  );

  --new-text-color: #161537;
  --ast-yellow: #fec447;
  --ast-red: #f43a5b;
  --ast-pink: #feccb3;
  --ast-blue: #9bd3d0;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 2rem;
  --mid-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: dankmono;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--body-color);
  color: var(--text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}
.grid {
  display: grid;
}
.section {
  padding: 4.5rem 0 2rem;
}

.main {
  overflow: hidden; /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_logo,
.nav_toggle,
.nav_close {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_logo {
  color: var(--text-color);
  column-gap: 0.5rem;
  font-weight: var(--font-semi-bold);
}
.nav_logo i {
  font-size: 2rem;
  font-weight: initial;
}
.nav_logo span {
  position: absolute;
  top: 3.5rem;
  left: 5px;
  font-weight: bolder;
  letter-spacing: 8px;
}
.nav_toggle,
.nav_close {
  background-color: var(--first-color-alt);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  font-size: 1.25rem;
  cursor: pointer;
}
.nav_socials {
  display: flex;
  gap: 10px;
}
.nav_socials i {
  color: var(--text-color);
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav_menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--body-color);
    width: 100%;
    height: 100%;
    box-shadow: 0 0 16px hsla(268, 58%, 4%, 0.2);
    padding: 6rem 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    transition: right 0.4s;
  }
}
.nav_list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.nav_link {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
  transition: color 0.4s;
}
.nav_link:hover {
  color: var(--title-color);
}
.nav_button {
  display: inline-block;
  width: max-content;
  background-image: var(--button-background);
  border: 2px solid var(--text-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.nav_close {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
}

/* Show menu */
.show-menu {
  right: 0;
}

/*=============== HOME ===============*/

/*=============== BUTTON ===============*/

/*=============== NEW ===============*/

/*=============== ABOUT ===============*/

/*=============== FAVORITES ===============*/

/*=============== VISIT ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up */

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
}

/*==============================================================================*/
@media screen and (max-width: 350px) {
}

/*==============================================================================*/
@media screen and (min-width: 300px) {
}

/*==============================================================================*/
/* For Taller Devices */
@media screen and (min-width: 376px) and (max-width: 800px) {
}

/*==============================================================================*/
/* For medium devices */
@media screen and (min-width: 535px) {
  .nav_menu {
    width: 60%;
  }
}

/*==============================================================================*/
@media screen and (min-width: 767px) {
}

/*==============================================================================*/
@media screen and (min-width: 850) {
}

/*==============================================================================*/
@media screen and (min-width: 900px) and (max-width: 1023px) {
}

/* For large devices */
/*==============================================================================*/
@media screen and (min-width: 1023px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav_toggle,
  .nav_close {
    display: none;
  }
  .nav_menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 4.5rem;
  }
  .nav_list {
    margin-left: auto;
    flex-direction: row;
    column-gap: 4.5rem;
  }
  .nav_logo span {
    left: 0px;
  }
}

/*==============================================================================*/

@media screen and (min-width: 1252px) {
  .nav {
    display: flex;
    gap: 15rem;
  }
}

/* ===============For 2K & 4K Resoulation============== */
@media screen and(min-width : 2048px) {
  body {
    zoom: 1.5;
  }
}

@media screen and (min-width: 3840px) {
  body {
    zoom: 2;
  }
}
