* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(54, 24, 89);
  background: radial-gradient(
    circle,
    rgba(54, 24, 89, 1) 21%,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}
main {
  height: 100vh;
  width: 100%;
}
header {
  padding: 1.8em 15em;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav span {
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  font-size: 1.5rem;
}
.menu a {
  text-decoration: none;
  list-style: none;
  color: rgb(174, 172, 172);
  padding: 0.2em 0.5em; /* Add padding to the menu items */
  border-bottom: 5px solid transparent; /* Ensure consistent border space */
  transition: border-color 0.3s, padding 0.3s; /* Add transition for border-color and padding */
}
.menu .active {
  color: white;
  border-bottom: 5px solid rgb(121, 3, 240);
}
.menu li:hover {
  border: 3px solid greenyellow;
  padding: 0.2em 0.5em;
}
.btn {
  font-size: 1.5rem;
  padding: 0.3em 0.8em;
  border: none;
  border-radius: 10px;
  background: rgb(215, 77, 72);
  background: linear-gradient(
    90deg,
    rgba(215, 77, 72, 1) 0%,
    rgba(253, 29, 29, 1) 0%,
    rgba(142, 23, 168, 1) 62%
  );
  color: white;
}
